gradio==4.16.0
requests==2.31.0
uuid==1.30













sudo apt install wget -y
wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.50.0_Linux-64bit.deb
sudo dpkg -i trivy_0.50.0_Linux-64bit.deb




gunicorn==21.2.0  # Optional, if hosting the app
